/*header{border: 1px solid #f00;}*/
/*main{border: 1px solid #0f0;}*/
footer{border: 1px solid #00f;}

/*nav#headerGNB {border: 2px dotted #f08;}*/

/*li.mainLi{border: 1px solid #000;}*/
/*li.subLi{border: 1px solid #00f;}*/
/*li.mainLi>a{border: 1px solid #000;}*/
/*li.subLi>a{border: 1px solid #00f;}*/

/*div#bbs {border: 1px solid #000;}*/