* {
  color: #333;
  padding: 0;
  margin: 0;

  text-decoration: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

a:hover,
a:active {
  color: #444;
}

a:link,
a:visited {
  color: #333;
}

img {
  vertical-align: middle;
}

.flex-container {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}
