@import url(reset.css);
@import url(guideline.css);

div#wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header#header */
header#header {
  width: 1200px;
  height: 100px;
}

div#headerLogo {
  width: 200px;
  background-image: url(../images/headerLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

/* headerGNB */
nav#headerGNB {
  width: 100%;
  flex: 1;
}

ul#mainMenu {
  float: right;
  margin-right: 40px;
  position: relative;
  top: 65px;
}

ul.subMenu {
  position: absolute;
  z-index: 10;
  display: none;
}

li.mainLi {
  width: 140px;
  height: 40px;
  border: 1px solid #777;
  border-right: none;
}

li.mainLi:last-child {
  border-right: 1px solid #777;
}

li.subLi {
  width: 140px;
  background-color: #000;
}

li.mainLi > a {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

li.subLi > a {
  color: #fff;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  font-size: 14px;
  display: inline-block;
}

/* GNB 하이라이트 기능 */
li.mainLi:hover a {
  color: #fff;
  background-color: #000;
}

li.subLi > a:hover {
  color: #000;
  background-color: #fff;
}
/* GNB 하이라이트 기능 */

div#navBG {
  width: 100%;
  height: 200px;
  background-color: #000;
  position: absolute;
  top: 104px;
  z-index: 9;
  display: none;
}
/* headerGNB */
/* header#header */

/* main#main */
div#slideFrame {
  height: 300px;
  overflow: hidden;
}

div#slideShuttle {
  width: 3600px;
  height: 300px;
}

#slideShuttle > div.slideBox {
  position: relative;
}

div.slideBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  background-color: rgba(212, 212, 212, 0.42);
  padding: 40px;
}

/* div#bbs start */
div#bbs {
  height: 200px;
  justify-content: space-between;
}

div#bbs > div {
  padding-top: 8px;
}

button.tabBtn {
  color: #fff;
  border: 1px solid #aaa;
  border-bottom: none;
  font-size: 15px;
  background-color: cadetblue;
  position: relative;
  left: 30px;
  padding: 6px 10px;
}

button.tabSelected {
  color: #000;
  background-color: #fff;
  border-bottom: #fff;
  left: 36px;
  top: 1px;
  padding-top: 7px;
}

table.bbs_table {
  border: 1px solid #aaa;
}

#bbs div#notice {
  width: 420px;
}

table.bbs_table {
  width: 380px;
  height: 150px;
  margin: 0 auto;
}

#tbl_notice tr td {
  padding: 6px 8px;
  font-size: 13px;
}

#tbl_notice tr td:first-child {
  text-align: center;
}

#tbl_notice tr td:nth-child(2) {
  cursor: pointer;
}

table#tbl_gallery {
  padding: 15px;
}

#tbl_gallery td {
  margin: 0 auto;
}

#bbs div#gallery {
  width: 400px;
}

#bbs div#banner {
  width: 380px;
  background-image: url(../images/banner.jpg);
  background-size: 320px 150px;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
/* div#bbs end  */
/* main#main */

/* footer#footer */
footer#footer {
  width: 1200px;
  height: 100px;
}

div#footerContainer {
  flex: 4;
}

div#familyStie {
  flex: 1;
}

#footerContainer > nav#footerLNB {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
}

#footerLNB a {
  width: 100%;
  margin: 0 20px;
}

#footerContainer > div#copyright {
  padding-top: 10px;
  font-size: 10px;
  text-align: center;
}

div#familyStie ul#siteList {
  height: 100px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 10px;
  text-align: right;
  float: right;
}

#siteList li.sitemenu a {
  width: 120px;
  display: inline-block;
  margin-top: 5px;
}
/* footer#footer */
